/**
* Sitestories theme "amp"
*/
.sitestories[data-theme="amp"] {
    /*
    * Stories
    */
    .sitestories {
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        &__modal {
            position: fixed;
            z-index: 999999990;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            background-color: #000;
        }

        &__modal-content {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            max-width: 900px;
            margin: 0 auto;
        }

        &__modal-overlay {
            //display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: black;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            //filter: blur(20px);
        }
    }

    /*
    * Previews slider
    */
    .sitestories-previews-slider {
        overflow: hidden;
        position: relative;

		&__wrapper {
            display: flex;
		}

		&__slide {
		}

		&__button-nav {
            &_next {
                position: absolute;
                width: 30px;
                height: 30px;
                //box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                cursor: pointer;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &_prev {
                position: absolute;
                width: 30px;
                height: 30px;
                //box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: transparent;
                cursor: pointer;
            }

            &_disabled {
                display: none;
            }
        }
    }



    /*
    * Product card
    */ 
    .sitestories-story-product-card {
        &_active {
            transform: translateY(0);
            visibility: visible;
        }

        &[data-state="hide"] {
            visibility: hidden;
        }

        &[data-state="card"] {
            .sitestories-story-product-card__card {
                transform: translateY(0);
                visibility: visible;
            }
        }

        &[data-state="response-success"] {
            .sitestories-story-product-card__response-success {
                transform: translateY(0);
                visibility: visible;
            }
        }

        // .sitestories-story-product-card__content

        &__card {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 300;
            font-size: 14px;
            transform: translateY(100%);
            transition: all 0.2s ease-in-out;
            visibility: hidden;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #fff;
            padding: 45px 15px 15px 15px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        &__response-success {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 400;
            font-size: 14px;
            transform: translateY(100%);
            transition: all 0.2s ease-in-out;
            visibility: hidden;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #fff;
            padding: 15px;
        }

        &__response-text {
            color: #000;
            text-decoration: none;
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &__response-icon {
            margin: 0 auto;
            width: 50px;
            height: 50px;
            display: block;
            margin-bottom: 10px;
        }

        &__response-button-checkout {
            background-color: #111;
            color: #fff;
            display: block;
            text-align: center;
            max-width: 250px;
            padding: 7px 20px;
            border-radius: 15px;
            margin: 0 auto 5px auto;
            white-space: nowrap;
            font-size: 14px;
            border: 1px solid #111;
            cursor: pointer;
        }

        &__response-button-stoties {
            background-color: transparent;
            color: #111;
            display: block;
            text-align: center;
            max-width: 250px;
            padding: 7px 20px;
            border-radius: 15px;
            margin: 0 auto 5px auto;
            white-space: nowrap;
            border: 1px solid #ccc;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }

        &__close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            pointer-events: all;
        }

        // .sitestories-story-product-card__close-icon

        &__close-icon {
            cursor: pointer;
        }

        // .sitestories-story-product-card__content-top

        &__content-top {}

        // .sitestories-story-product-card__tabs

        &__tabs {}

        // .sitestories-story-product-card__tab-links

        &__tab-links {
            list-style-type: none;
            display: flex;
            padding: 0;
        }

        // .sitestories-story-product-card__tab-link

        &__tab-link {
            margin-right: 10px;
            cursor: pointer;

            &_selected {
                font-weight: bold;
            }
        }

        // .sitestories-story-product-card__tab-content

        &__tab-content {}

        // .sitestories-story-product-card__tab-content-details

        &__tab-content-details {}

        // .sitestories-story-product-card__gallery

        &__gallery {
            margin-bottom: 10px;
            width: 100%;
            height: 55%;
            background-color: #fff;
        }

        // .sitestories-story-product-card__slider

        &__slider {
            position: relative;
            width: 100%;
            height: 100%;
        }

        // .sitestories-story-product-card__slider-wrapper

        &__slider-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            transition-timing-function: initial;
            box-sizing: content-box;
        }

        // .sitestories-story-product-card__slide

        &__slide {
            flex-shrink: 0;
            width: 80%;
            height: 100%;
            position: relative;
            transition-property: transform;
            text-align: center;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateZ(0);
            backface-visibility: hidden;
            cursor: pointer;

            &_over-width {
                width: 100% !important;
            }

            &_over-width-end-slide {
                margin-left: -16.8%;

                //position: relative;
           
            }

            &_active {
                //cursor: auto;
                width: 80%;
            }

            // &_next {
            //     width: 20%;
            // }
       
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }

        // .sitestories-story-product-card__options

        &__options {
            margin-bottom: 10px;
            display: flex;
            align-items: baseline;
        }

        &__options-title {
            margin-right: 10px;
            font-weight: bold;
            font-size: 14px;
        }

        // .sitestories-story-product-card__select

        &__select {
            max-width: 100%;
            width: 100%;
            font-size: 14px;
        }

        // .sitestories-story-product-card__option

        &__option {}

        // .sitestories-story-product-card__tab-content-rewiews

        &__tab-content-rewiews {
            display: none;
        }

        // .sitestories-story-product-card__content-bottom

        &__content-bottom {}

        &__form {
            padding: 10px 15px;
            margin: 20px -15px -15px -15px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        // .sitestories-story-product-card__price

        &__price {
            display: flex;
            align-items: baseline;
            margin-bottom: 10px;
            width: 100%;
        }

        // .sitestories-story-product-card__price-old

        &__price-old {
            margin-right: 7px;
            font-weight: normal;
            font-size: 14px;
            text-decoration: line-through;
        }

        // .sitestories-story-product-card__price-current

        &__price-current {
            font-weight: bold;
            font-size: 14px;
        }

        // .sitestories-story-product-card__quantity-choice

        &__quantity-choice {
            width: 35%;
            margin: 0 10px 0 0;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 15px;
            color: #000;
            appearance: none;
            font-size: 14px;
            padding: 4px 10px;

            &:focus {
                border-color: #555;
                outline: none;
            }
        }

        &__button-addtocart-box {
            display: flex;
        }

        &__button-addtocart {
            background-color: #111;
            border: none;
            outline: none;
            color: #fff;
            padding: 15px 10px;
            border-radius: 15px;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            display: block;
            text-align: center;
            line-height: 0;
            white-space: nowrap;
        }

        &__description {
            color: #333;
            font-size: 14px;
            text-decoration: none;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }

    /*
    * Product collection
    */ 
    .sitestories-product-collection {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 300;

        // .sitestories-product-collection__content

        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &__slider {
            position: relative;
        }

        &__slider-wrapper {
            position: relative;
            z-index: 1;
            display: flex;
            transition-property: transform;
            transition-timing-function: initial;
            box-sizing: content-box;
        }

        &__slide {
            flex-shrink: 0;
            transition-property: transform;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateZ(0);
            backface-visibility: hidden;
            cursor: pointer;
        }

        // .sitestories-product-collection__product-preview

        &__product-preview {
            background-color: #fff;
            width: 90%;
            margin: 0 auto 10px auto;
            padding: 5px;
            border-radius: 10px;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }

        // .sitestories-product-collection__product-preview-left-box

        &__product-preview-left-box {
            width: 30%;
            margin-right: 10px;
        }

        // .sitestories-product-collection__product-preview-img-box

        &__product-preview-img-box {
        }

        // .sitestories-product-collection__product-preview-img

        &__product-preview-img {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        // .sitestories-product-collection__product-preview-right-box

        &__product-preview-right-box {
            width: 70%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        // .sitestories-product-collection__product-preview-right-box-top

        &__product-preview-right-box-top {
            margin-bottom: 10px;
        }

        // .sitestories-product-collection__product-preview-title

        &__product-preview-title {
            font-weight: bold;
            font-size: 14px;
            text-decoration: none;
        }

        // .sitestories-product-collection__product-preview-right-box-bottom

        &__product-preview-right-box-bottom {
            display: flex;
            align-items: center;
            justify-content: right;
        }

        // .sitestories-product-collection__product-preview-price

        &__product-preview-price {
            margin-right: 10px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }

        // .sitestories-product-collection__product-preview-button

        &__product-preview-button {
            background-color: #000;
            color: #fff;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 40px;
            font-size: 14px;
            cursor: pointer;
            text-decoration: none;
        }
    }

    /*
    * Product list
    */ 
    .sitestories-product-list {
        position: relative;
        z-index: 10;
        background-color: #fff;
        top: 55%;
        padding: 10px;
        height: 100%;
        max-height: 47%;
        overflow-x: hidden;
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch;
        transform: translateZ(0) !important;

        &__product-previews-title-box {
            margin-bottom: 10px;
        }

        &__description-box {
            margin-bottom: 20px;
        }

        &__description {
            color: #333;
            text-decoration: none;
            font-size: 14px;
        }
    
        &__product-previews {
            margin-bottom: -20px;
        }

        &__product-previews-title {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
        }

		&__product-previews-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
		}

		&__product-preview {
            width: 45%;
            height: auto;
            margin-bottom: 20px;
            cursor: pointer;
            //margin-right: 10px;

            // &:nth-child(2n) {
            //     margin-right: 0;
            // }
		}

		// .sitestories-product-list__product-img-box

		&__product-img-box {
            margin-bottom: 5px;
		}

		// .sitestories-product-list__product-img

		&__product-img {
            width: 100%;
            height: auto;
            border-radius: 5px;
		}

		// .sitestories-product-list__product-text-box

		&__product-text-box {
            margin-bottom: 7px;
		}

		// .sitestories-product-list__product-title

		&__product-title {
            color: #333;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
		}

		// .sitestories-product-list__product-price-box

		&__product-price-box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
		}

		// .sitestories-product-list__product-price

		&__product-price {
            color: #333;
            text-decoration: none;
            font-size: 14px;

            &_old {
                text-decoration: line-through;
                color: #ccc;
                margin-right: 5px;
                font-size: 12px;
            }
		}
        
        &__product-button-box {
            display: flex;
            justify-content: center;
        }

		&__product-button {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            background-color: #111;
            padding: 5px 15px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &[data-device="mobile"] {
        .sitestories__modal {
            &_start-close {
                transform: translateY(0);
                opacity: 1;
                display: block;
            }

            &_close {
                display: block;
                transform: translateY(100%);
                opacity: 0;
                transition: transform .2s ease-in, opacity .2s ease-in;
            }

            &_start-open {
                display: block;
                transform: translateY(100%);
            }

            &_open {
                display: block;
                transform: translateY(0);
                //transition: transform 100ms ease-in;
            }
        }
    }

    &[data-device="desktop"] {
        .sitestories__modal {
            &_start-close {
                transform: translateY(0);
                opacity: 1;
                display: block;
            }

            &_close {
                display: block;
                transform: translateY(100%);
                opacity: 0;
                transition: transform 0.3s ease-in, opacity 250ms ease-in;
            }

            &_start-open {
                display: block;
                opacity: 0;
            }

            &_open {
                display: block;
                opacity: 1;
                transition: opacity .1s ease-in-out;
            }
        }

        .sitestories-story {
            //border-radius: 8px;

            &__media {
                //border-radius: 8px;
            }

            &_dark {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    z-index: 100;
                    right: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
                    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
                    background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
                    background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
                    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
                }
            }
        }

        .sitestories-story-product {    
            &__top {
                height: 90%;
                width: 100%;
            }
        }

        .sitestories-story-product-card__close-icon {
            width: 20px;
            height: 20px;
        }

        .sitestories {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
               
            &__preview-title-box {
                bottom: 0;
                padding: 0 3px 10px 3px;
            }
    
            &__preview-img-group-box {
                margin-bottom: 5px;
            }

            &__preview-img-group-box {
                width: 45px;
                height: 45px;
            }
        }
    }
}

.sitestories[data-style="instagram"] {
    /*
    * Stories
    */
    .sitestories {
        &__previews {
            width: 100%;
            display: flex;
    
            &[data-position="center"] {
                justify-content: center;
            }
    
            &[data-position="left"] {
                justify-content: left;
            }
    
            &[data-position="right"] {
                justify-content: right;
            }
        }

        &__preview {
            margin-right: 12px;
            width: 18vw;
            max-width: 90px;
            cursor: pointer;
    
            &_viewed {
                opacity: 0.75;
    
                .sitestories__preview-img-box {
                    background: #999;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__preview-img-box {
            width: 18vw;
            max-width: 90px;
            height: 18vw;
            max-height: 90px;
            background: radial-gradient(ellipse at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
            padding: 2px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
        }

        &__preview-img {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #fff;
        }

        &__preview-title {
            text-align: center;
            font-weight: 300;
            font-size: 14px;
        }
    }
}

.sitestories[data-style="facebook"] {
    /*
    * Stories
    */
    .sitestories {
        &__previews {
            width: 100%;
            display: flex;
    
            &[data-position="center"] {
                justify-content: center;
            }
    
            &[data-position="left"] {
                justify-content: left;
            }
    
            &[data-position="right"] {
                justify-content: right;
            }
        }

        &__preview {
            margin-right: 12px;
            width: 18vw;
            max-width: 118px;
            cursor: pointer;
            position: relative;
    
            &_viewed {
                opacity: .75;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__preview-img-box {
            width: 18vw;
            max-width: 118px;
            height: 28vw;
            max-height: 190px;
            background: linear-gradient(0deg, rgba(41,179,240,1) 0%, rgba(55,45,253,1) 100%);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2) !important;
            //padding: 2px;
            border-radius: 7px;
            overflow: hidden;
            margin-bottom: 10px;

            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(0deg, rgba(0, 0, 0, .4), transparent);
                transform: translateZ(1px);
                border-radius: 7px;
                top: 0;
                left: 0;
                display: block;
                z-index: 10;
            }
        }

        &__preview-img {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            border-radius: 7px;
            background: linear-gradient(0deg, rgba(41,179,240,1) 0%, rgba(55,45,253,1) 100%);
            //border: 3px solid #fff;
        }

        &__preview-title {
            text-align: left;
            font-weight: 300;
            position: absolute;
            width: 100%;
            color: #fff;
            display: -webkit-box;
            font-size: 12px;
            left: 0;
            bottom: 0;
            padding: 0 6px 6px 6px;
            top: auto;
            right: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            z-index: 20;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            transform: translateZ(1px);
        }
    }
}

.sitestories[data-style="samokat"] {
    /*
    * Stories
    */
    .sitestories {
        &__previews {
            width: 100%;
            display: flex;
    
            &[data-position="center"] {
                justify-content: center;
            }
    
            &[data-position="left"] {
                justify-content: left;
            }
    
            &[data-position="right"] {
                justify-content: right;
            }
        }

        &__preview {
            margin-right: 12px;
            width: 28vw;
            max-width: 173.16px;
            cursor: pointer;
            position: relative;
    
            &_viewed {
                opacity: 0.6;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__preview-img-box {
            width: 28vw;
            max-width: 173.16px;
            height: 40vw;
            max-height: 230.3px;
            background: linear-gradient(90deg, rgba(180,58,91,1) 0%, rgba(227,76,76,1) 50%, rgba(242,78,13,1) 100%);
            //padding: 2px;
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 40%;
                background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .003) 6.67%, rgba(0, 0, 0, .014) 13.33%, rgba(0, 0, 0, .033) 20%, rgba(0, 0, 0, .059) 26.67%, rgba(0, 0, 0, .093) 33.33%, rgba(0, 0, 0, .133) 40%, rgba(0, 0, 0, .177) 46.67%, rgba(0, 0, 0, .223) 53.33%, rgba(0, 0, 0, .267) 60%, rgba(0, 0, 0, .307) 66.67%, rgba(0, 0, 0, .341) 73.33%, rgba(0, 0, 0, .367) 80%, rgba(0, 0, 0, .386) 86.67%, rgba(0, 0, 0, .397) 93.33%, rgba(0, 0, 0, .4));
                border-radius: 16px;
                top: 0;
                left: 0;
                display: block;
                z-index: 10;
            }
        }

        &__preview-img {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            border-radius: 16px;
            // border: 3px solid #fff;
        }

        &__preview-title {
            position: absolute;
            top: 10px;
            text-align: left;
            font-weight: 300;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: -.05px;
            text-overflow: ellipsis;
            word-break: break-word;
            z-index: 20;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            width: 100%;
            left: 12px;
            color: #fff;
        }
    }
}

.sitestories[data-style="vkontakte"] {
    /*
    * Stories
    */
    .sitestories {
        &__previews {
            width: 100%;
            display: flex;
    
            &[data-position="center"] {
                justify-content: center;
            }
    
            &[data-position="left"] {
                justify-content: left;
            }
    
            &[data-position="right"] {
                justify-content: right;
            }
        }

        &__preview {
            margin-right: 12px;
            width: 17vw;
            max-width: 94px;
            cursor: pointer;
            position: relative;
    
            &_viewed {    
                .sitestories__preview-img-group-box {
                    background: #aeb7c2;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__preview-img-box {
            width: 17vw;
            max-width: 94px;
            height: 27vw;
            max-height: 167px;
            //background: linear-gradient(0deg, rgba(124,210,249,1) 0%, rgba(45,175,253,1) 100%);
            background-color: #333;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 10px;
            position: relative;
            z-index: 10;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #333;
                opacity: 0.2;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 66%;
                top: auto;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(to bottom, rgba(25, 25, 26, 0) 0%, rgba(25, 25, 26, 0.036) 13%, rgba(25, 25, 26, 0.15) 27%, rgba(25, 25, 26, 0.79) 68%, rgba(25, 25, 26, 0.95) 84%, rgba(25, 25, 26, 1) 100%);
                opacity: .8;
                border-radius: 8px;
                display: block;
                z-index: 10;
            }
        }

        &__preview-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        &__preview-video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        &__preview-title-box {
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
            padding: 0 2px 5px 2px;
        }

        &__preview-img-group-box {
            margin: 0 auto;
            width: 30px;
            height: 30px;
            background: linear-gradient(0deg, rgba(124,210,249,1) 0%, rgba(45,175,253,1) 100%);
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 2px;
            padding: 2px;
        }

        &__preview-img-group {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid #fff;
            //border: 1px solid rgba(0, 0, 0, .08);
        }

        &__preview-title {
            color: #fff;
            width: 100%;
            text-align: center;
            font-weight: 300;
            font-size: 12px;
            //white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.sitestories[data-style="whatsapp"] {
    /*
    * Stories
    */
    .sitestories {
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        &__previews {
            width: 100%;
            display: flex;
    
            &[data-position="center"] {
                justify-content: center;
            }
    
            &[data-position="left"] {
                justify-content: left;
            }
    
            &[data-position="right"] {
                justify-content: right;
            }
        }

        &__preview {
            display: flex;
            width: 100%;
            //max-width: 90px;
            cursor: pointer;
            border-bottom: 1px solid #eee;
            padding: 6px 0;
    
            &_viewed {
                opacity: 0.75;
    
                .sitestories__preview-img-box {
                    background: #999;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__preview-img-box {
            width: 42px;
            //max-width: 90px;
            height: 42px;
            //max-height: 90px;
            background: #00bfa5;
            padding: 2px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 12px;
        }

        &__preview-img {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #fff;
        }

        &__preview-title {
            margin-top: 4px;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333;
            white-space: nowrap;
        }
    }

     /*
    * Previews slider
    */
    .sitestories-previews-slider {
        overflow: hidden;
        position: relative;
        width: 100%;

		&__wrapper {
            display: flex;
            flex-direction: column;
		}

		&__slide {
		}

		&__button-nav {
            &_next {
                position: absolute;
                width: 30px;
                height: 30px;
                //box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
                right: 0;
                left: 0;
                top: auto;
                bottom: 0;
                transform: rotate(90deg);
                background-color: transparent;
                cursor: pointer;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
            }

            &_prev {
                position: absolute;
                width: 30px;
                height: 30px;
                //box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
                top: 0;
                left: 0;
                right: 0;
                bottom: auto;
                margin: 0 auto;
                transform: rotate(90deg);
                background-color: transparent;
                cursor: pointer;
            }

            &_disabled {
                display: none;
            }
        }
    }
}

amp-story {
    /*
    * Story
    */
    .sitestories-story {
        position: relative;
        height: 100%;

        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: 0.3;
            width: 100%;
            height: 100%;
        }

        &[data-type="product"] {
            .sitestories-story__img,
            .sitestories-story__video {
                display: none;
            }
        }

        &__media {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: visible;
            z-index: 10;
            filter: blur(3px);
            pointer-events: none;
            backface-visibility: hidden;
            visibility: visible;
            transform-origin: 0 0;
        }

        &__media-overlay {
            position: absolute;
            top: 25%;
            left: 0;
            width: 100%;
            height: 30%;
            z-index: 20;
            background: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.009) 6.67%,hsla(0,0%,100%,.036) 13.33%,hsla(0,0%,100%,.082) 20%,hsla(0,0%,100%,.147) 26.67%,hsla(0,0%,100%,.232) 33.33%,hsla(0,0%,100%,.332) 40%,hsla(0,0%,100%,.443) 46.67%,hsla(0,0%,100%,.557) 53.33%,hsla(0,0%,100%,.668) 60%,hsla(0,0%,100%,.768) 66.67%,hsla(0,0%,100%,.853) 73.33%,hsla(0,0%,100%,.918) 80%,hsla(0,0%,100%,.964) 86.67%,hsla(0,0%,100%,.991) 93.33%,#fff);
        }

        &__video {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            object-fit: cover;
            pointer-events: none;
        }

        &__img {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            object-fit: cover;
        }
    }

    /*
    * Story content
    */
    .sitestories-story-text-graphic {
        width: 100%;
        height: 100%;
        z-index: 200;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        padding-top: 80px;
        pointer-events: none;

        &[data-position="top"] {
            justify-content: flex-start;
        }

        &[data-position="center"] {
            justify-content: center;
        }

        &[data-position="bottom"] {
            justify-content: flex-end;
        }

        &__text-box {
            color: #fff;
            font-size: 18px;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 24px;
        }

        &__img-box {
            margin-bottom: 20px;
        }

        &__img-src {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    
        &__button-box {
            margin-bottom: 20px;
        }
    
        &__button {
            min-width: 120px;
            color: #111;
            font-weight: bold;
            font-size: 16px;
            padding: 7px 35px;
            background-color: #fff;
            text-decoration: none;
            cursor: pointer;
            letter-spacing: 0.3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 30px;
        }

        div:last-child {
            margin-bottom: 0;
        }
    }
}


