/**
* Sitestories theme "instagram"
*/
.sitestories[data-theme="instagram"] {
    /*
    * Stories
    */
    .sitestories {
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        &__previews {
            width: 100%;
            display: flex;
    
            &[data-position="center"] {
                justify-content: center;
            }
    
            &[data-position="left"] {
                justify-content: left;
            }
    
            &[data-position="right"] {
                justify-content: right;
            }
        }

        &__preview {
            margin-right: 12px;
            width: 18vw;
            max-width: 90px;
            cursor: pointer;
    
            &_viewed {
                opacity: 0.75;
    
                .sitestories__preview-img-box {
                    background: #999;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__preview-img-box {
            width: 18vw;
            max-width: 90px;
            height: 18vw;
            max-height: 90px;
            background: radial-gradient(ellipse at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
            padding: 2px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
        }

        &__preview-img {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #fff;
        }

        &__preview-title {
            text-align: center;
            font-weight: 300;
            font-size: 14px;
        }

        &__modal-content {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            max-width: 900px;
            margin: 0 auto;
        }

        &__modal-close {
            position: relative;
            z-index: 999;
            padding: 10px 2px;
            bottom: 1px;

            &_desktop {
                display: none;
            }
        }

        &__modal-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: black;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            filter: blur(20px);
        }

        &__modal-overlay-img {
            opacity: 0.5;
            width: 100%;
            height: 100%;
            display: none;
            transform: scale(1) translateZ(200px);
    
            &_anim {
                transform: scale(1.3) translateZ(0);
                transition: transform 0.2s ease;
            }
    
            &_active {
                display: block;
            }
        }

        &__modal-overlay-video {
            opacity: 0.5;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
            transform: scale(1) translateZ(200px);
            transition: transform 0.2s ease;
    
            &_anim {
                transform: scale(1.3) translateZ(0);
            }
    
            &_active {
                display: block;
            }
        }

        &__modal-close-icon {
            position: relative;
            top: 1px;
            margin-left: 15px;
            font-weight: bold;
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;
            pointer-events: none;
    
            &:hover {
                opacity: 0.7;
            }
        }
    }

    /*
    * Previews slider
    */
    .sitestories-previews-slider {
        overflow: hidden;
        position: relative;

		&__wrapper {
            display: flex;
		}

		&__slide {
		}

		&__button-nav {
            &_next {
                position: absolute;
                width: 30px;
                height: 30px;
                //box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                cursor: pointer;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &_prev {
                position: absolute;
                width: 30px;
                height: 30px;
                //box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: transparent;
                cursor: pointer;
            }

            &_disabled {
                display: none;
            }
        }
    }

    /*
    * Slider groups
    */
    .sitestories-slider-groups {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 100;

        &__wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            display: flex;
            transform-style: preserve-3d;
            transition-property: transform;
            transition-timing-function: initial;
            box-sizing: content-box;

            // transition-duration: 0ms !important;
            // transition-delay: 0ms !important;
            // transform-origin: 50% 50% -215px !important;
            // transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(-270deg) !important;
            // --swiper-cube-translate-z: 0px !important;

            //transform-origin: 50% 50% -281px !important;
            // transform: translate3d(0px, 0px, 120px) rotateX(0deg) rotateY(0deg) !important;
        }

        &__slide {
            position: relative;
            z-index: 10;
            cursor: pointer;
            backface-visibility: hidden;
            transform-origin: 0 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition-property: transform;
            flex-shrink: 0;

            // width: 430px !important;
            // transition-duration: 0ms !important;
            // transform: rotateX(0deg) rotateY(0deg) translate3d(-430px, 0px, 1290px) !important;

            //transform: rotateX(1deg) !important;
            // transform: rotateX(0deg) rotateY(270deg) translate3d(-400px, 0px, 1290px) !important;
            // overflow: hidden;
            
            &_active {
                z-index: 20;
                cursor: auto;

                .sitestories-slider-story {
                    visibility: visible;
                    opacity: 1;
                }

                .sitestories-story-navigation_desktop {
                    display: block;
                }

                .sitestories-story-overlay {
                    display: none;
                }

                .sitestories-story__media {
                    filter: blur(0);
                }

                .sitestories-group-stories__meta {
                    filter: blur(0);
                }

                .sitestories-story-pagination {
                    filter: blur(0);
                }
            }
        }

        &_3d {
            // perspective: 1200px;
            // margin-left: auto;
            // margin-right: auto;
        }

        &_cube {
            // overflow: visible;
            // visibility: hidden;

            .sitestories-story-overlay {
                visibility: hidden;
            }
        }

        &__slide-visible {
            visibility: visible;

            .sitestories-story-overlay {
                visibility: visible;
            }
        }

        &__slide-fully-visible {}

        &_horizontal {
            touch-action: pan-y;
        }
    }

    /*
    * Groups stories
    */
    .sitestories-group-stories {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        &__header {
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 300;
            background: linear-gradient(180deg, rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0));
            transition: opacity 0.5s ease-in-out 0.2s;

            &_hide {
                opacity: 0;
            }
        }

        &__meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            filter: blur(3px);
        }
    
        &__meta-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_active {
            display: block;
        }

        &_product-card-opened {
            .sitestories-group-stories__header {
                filter: blur(1px);
            }

            .sitestories-story__media {
                opacity: 0.4;
                filter: blur(3px);
            }
            .sitestories-slider-story {
                z-index: 300;
            }

            .sitestories-product-list {
                display: none;
            }

            .sitestories-story__media-overlay {
                display: none;
            }

            .sitestories-story-product {
                filter: blur(5px);
            }
        }
    }

    /*
    * Control elem
    */
    .sitestories-control-elem {
        transition: opacity 0.5s ease-in-out 0.2s;
        
        &_hide {
            opacity: 0;
        }
    }

    /*
    * Slider story
    */
    .sitestories-slider-story {
        //overflow: hidden;
        display: block;
        visibility: hidden;
        opacity: 0;
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        list-style: none;
        padding: 0;
        z-index: 1;

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
        }

        &__slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 10;
            transition-property: opacity;
            // pointer-events: none;

            &_active {
                pointer-events: auto;
                z-index: 20;
    
                .sitestories-story__media {
                    visibility: visible;

                }
            }
        }

        &__horizontal {
            touch-action: pan-y;
        }
    }

    /*
    * Story
    */
    .sitestories-story {
        position: relative;
        height: 100%;

        &[data-type="product"] {
            .sitestories-story__img,
            .sitestories-story__video {
                display: none;
            }
        }

        &__media {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: visible;
            z-index: 10;
            filter: blur(3px);
            pointer-events: none;
            backface-visibility: hidden;
            visibility: visible;
            transform-origin: 0 0;
        }

        &__media-overlay {
            position: absolute;
            top: 25%;
            left: 0;
            width: 100%;
            height: 30%;
            z-index: 20;
            background: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.009) 6.67%,hsla(0,0%,100%,.036) 13.33%,hsla(0,0%,100%,.082) 20%,hsla(0,0%,100%,.147) 26.67%,hsla(0,0%,100%,.232) 33.33%,hsla(0,0%,100%,.332) 40%,hsla(0,0%,100%,.443) 46.67%,hsla(0,0%,100%,.557) 53.33%,hsla(0,0%,100%,.668) 60%,hsla(0,0%,100%,.768) 66.67%,hsla(0,0%,100%,.853) 73.33%,hsla(0,0%,100%,.918) 80%,hsla(0,0%,100%,.964) 86.67%,hsla(0,0%,100%,.991) 93.33%,#fff);
        }

        &__video {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            object-fit: cover;
            pointer-events: none;
        }

        &__img {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            object-fit: cover;
        }
    }

    /*
    * Story content
    */
    .sitestories-story-text-graphic {
        width: 100%;
        height: 100%;
        z-index: 200;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        padding-top: 80px;
        pointer-events: all;

        &[data-position="top"] {
            justify-content: flex-start;
        }

        &[data-position="center"] {
            justify-content: center;
        }

        &[data-position="bottom"] {
            justify-content: flex-end;
        }

        &__text-box {
            color: #fff;
            font-size: 18px;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 24px;
        }

        &__img-box {
            margin-bottom: 20px;
        }

        &__img-src {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    
        &__button-box {
            margin-bottom: 20px;
        }
    
        &__button {
            min-width: 120px;
            color: #111;
            font-weight: bold;
            font-size: 16px;
            padding: 7px 35px;
            background-color: #fff;
            text-decoration: none;
            cursor: pointer;
            letter-spacing: 0.3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 30px;
        }

        div:last-child {
            margin-bottom: 0;
        }
    }

    /*
    * Story content product link
    */    
    .sitestories-story-content-product-link {
        padding: 80px 30px 5px 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 200;
        height: 100%;
        pointer-events: none;

        &__top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
        }

        &__product-images {
            width: 100%;
            height: 55%;
            margin-bottom: 20px;
        }

        &__title-box {
            margin-bottom: 15px;
            width: 100%;
        }

        &__title {
            color: #fff;
            font-size: 17px;
            text-align: left;
            font-weight: bold;
        }

        &__description-box {
            margin-bottom: 10px;
            width: 100%;
        }
    
        &__description {
            color: #fff;
            font-size: 14px;
            text-align: left;
            font-weight: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 30px;
            max-width: 100%;
            display: block;
        }

        &__price-box {
            display: flex;
            align-items: center;
            width: 100%;
        }
    
        &__price-old {
            color: #000;
            background-color: #fff;
            padding: 5px 10px;
            border-radius: 3px;
            margin-right: 10px;
        }
    
        &__price {
            color: #fff;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 10%;
        }

        &__button-box {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__icon {
            fill: #fff;
            margin-bottom: 7px;
        }
    
        &__button {
            color: #fff;
            text-decoration: underline;
            font-size: 16px;
            cursor: pointer;
        }
    }

    /*
    * Story content product cart
    */ 
    .sitestories-story-product {
        padding: 80px 30px 5px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 200;
        height: 100%;
        // pointer-events: none;

        &__top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80%;
            width: 90%;
            margin: 0 auto;
            background: transparent;
            //background-color: rgba(0, 0, 0, 1);
        }

        &__product-images {
            width: 100%;
            height: 55%;
            margin-bottom: 20px;
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 10%;
            padding-bottom: 10px;
        }

        &__title-box {
            margin-bottom: 15px;
            width: 100%;
        }

        &__title {
            color: #fff;
            font-size: 17px;
            text-align: left;
            font-weight: bold;
        }

        &__description-box {
            margin-bottom: 10px;
            width: 100%;
        }
    
        &__description {
            color: #fff;
            font-size: 14px;
            text-align: left;
            font-weight: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            // max-height: 30px;
            max-width: 100%;
            display: block;
            //white-space: nowrap;
            -webkit-line-clamp: 2; /* Число отображаемых строк */
            display: -webkit-box; /* Включаем флексбоксы */
            -webkit-box-orient: vertical; /* Вертикальная ориентация */
            margin: 0;
        }

        &__price-box {
            display: flex;
            align-items: center;
            width: 100%;
        }
        
        &__price {
            color: #fff;

            &_new {
                color: #000;
                background-color: #fff;
                padding: 5px 10px;
                border-radius: 3px;
                margin-right: 10px;
            }
        }

        &__button-box {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__icon {
            fill: #fff;
            margin-bottom: 7px;
        }
    
        &__button {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }
    }

    /*
    * Slider product images
    */ 
    .sitestories-slider-product-images {
        overflow: hidden;
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        display: block;

        &__horizontal {
            touch-action: pan-y;
        }

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
        }

        &__pagination {
            position: absolute;
            top: auto;
            bottom: 3px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            transition: 0.3s opacity;
            transform: translate3d(0, 0, 0);
            z-index: 10;
        }

        &__slide {
            flex-shrink: 0;
            display: flex;
            align-items: end;
            width: 100%;
            height: 100%;
            position: relative;
            transition-property: opacity;
            background-position: center;
            background-size: cover;
    
            &_active {    
                .sitestories-story__media {
                    visibility: visible;
                }
            }
        }

        &__bullet {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #000;
            opacity: 0.2;
            border: none;
            margin: 0;
            padding: 0;
            box-shadow: none;
            appearance: none;
            cursor: pointer;
            margin: 0 2px;
            display: inline-block;
    
            &_active {
                opacity: 1;
                background-color: cornflowerblue;
            }
    
            &_anim {}
    
            &:only-child {
                display: none !important;
            }
        }

        &__image {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    /*
    * Story overlay
    */ 
    .sitestories-story-overlay {
        //visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 400;
        
        &__backface {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 110%;
            height: 110%;
            z-index: 10;
            background-color: black;
            opacity: 0.5;
        }

        &__preview {
            position: absolute;
            top: 0;
            z-index: 5;
            left: 0;
            width: 100%;
            height: 100%;
            //filter: blur(5px);
        }

        &__preview-img {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0;
            object-fit: cover;
        }
    
    
        &__text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            font-size: 20px;
            color: #fff;
            font-weight: normal;
            z-index: 20;
        }
    }

    /*
    * Story pagination
    */ 
    .sitestories-story-pagination {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        filter: blur(3px);

        &__bullet {
            width: 100%;
            flex-shrink: 10;
            border-radius: 999px;
            height: 2px;
            background: rgba(255, 255, 255, 0.35);
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 1px #00000059;
            margin-right: 2px;
    
            &_active {}
    
            &_anim {
                background-color: #fff;
                border-radius: 2px;
                display: block;
                height: 100%;
                transform: scaleX(0);
                transform-origin: left center;
                width: 100%;
            }
        }
    }

    /*
    * Story navigation
    */
    .sitestories-story-navigation {
        &__button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;
    
            &:hover {
                opacity: 0.7;
            }
    
            &_prev {
                left: -40px;
            }
    
            &_next {
                right: -40px;
            }
        }

        &__icon {
            width: 30px;
            height: 30px;
    
            &_right {
                //transform: rotate(180deg);
            }
        }

        &_desktop {
            display: none;
        }
    }
    
    /*
    * Story play
    */
    .sitestories-story-play {
        pointer-events: all;
        margin-right: 5px;
        padding: 10px 2px;

        &[data-state="pause"] {
            .sitestories-story-play__icon_pause {
                display: block;
            }
        }

        &[data-state="play"] {
            .sitestories-story-play__icon_play {
                display: block;
            }
        }
    
        &__icon {
            cursor: pointer;
            display: none;

            &_play {
            }

            &_pause {
                
            }
        }
    }

    /*
    * Story sound
    */
    .sitestories-story-sound {
        padding: 10px 2px;

        &[data-state="enable"] {
            .sitestories-story-sound__icon_enable {
                display: block;
            }
        }

        &[data-state="disable"] {
            .sitestories-story-sound__icon_disable {
                display: block;
            }
        }

        &__icon {
            cursor: pointer;
            display: none;
            // pointer-events: none;
        }
    }

    /*
    * Story group title
    */
    .sitestories-group-title {
        color: #fff;
        display: flex;
        align-items: center;

        // .sitestories-group-title__img-box

        &__img-box {
            margin-right: 5px;
        }

        // .sitestories-group-title__img

        &__img {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin: 0;
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        // .sitestories-group-title__text-box

        &__text-box {
            display: flex;
            align-items: baseline;
        }

        // .sitestories-group-title__title

        &__title {
            font-size: 12px;
            text-decoration: none;
            margin-right: 5px;
            color: #fff;
            text-overflow: ellipsis;
        }

        // .sitestories-group-title__time-passed

        &__time-passed {
            font-size: 10px;
            text-decoration: none;
            margin-top: 2px;
            color: #ccc;
        }
    }

    /*
    * Story time passed
    */
    .sitestories-time-passed {
        &_hide {
            display: none;
        }
    }

    /*
    * Product card
    */ 
    .sitestories-story-product-card {
        &_active {
            transform: translateY(0);
            visibility: visible;
        }

        &[data-state="hide"] {
            visibility: hidden;
        }

        &[data-state="card"] {
            .sitestories-story-product-card__card {
                transform: translateY(0);
                visibility: visible;
            }
        }

        &[data-state="response-success"] {
            .sitestories-story-product-card__response-success {
                transform: translateY(0);
                visibility: visible;
            }
        }

        // .sitestories-story-product-card__content

        &__card {
            position: absolute;
            max-height: 90%;
            overflow-y: auto;
            overflow-x: hidden;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 300;
            font-size: 14px;
            transform: translateY(100%);
            transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
            visibility: hidden;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            background-color: #fff;
            padding: 45px 15px 15px 15px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        &__response-success {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 400;
            font-size: 14px;
            transform: translateY(100%);
            transition: all 0.2s ease-in-out;
            visibility: hidden;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #fff;
            padding: 15px;
        }

        &__response-text {
            color: #000;
            text-decoration: none;
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &__response-icon {
            margin: 0 auto;
            width: 50px;
            height: 50px;
            display: block;
            margin-bottom: 10px;
        }

        &__response-button-checkout {
            background-color: #111;
            color: #fff;
            display: block;
            text-align: center;
            max-width: 250px;
            padding: 7px 20px;
            border-radius: 15px;
            margin: 0 auto 5px auto;
            white-space: nowrap;
            font-size: 14px;
            border: 1px solid #111;
            cursor: pointer;
        }

        &__response-button-stoties {
            background-color: transparent;
            color: #111;
            display: block;
            text-align: center;
            max-width: 250px;
            padding: 7px 20px;
            border-radius: 15px;
            margin: 0 auto 5px auto;
            white-space: nowrap;
            border: 1px solid #ccc;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }

        &__line {
            position: absolute;
            z-index: 30;
            width: 20%;
            height: 3px;
            top: 15px;
            left: 0;
            right: 0;
            bottom: auto;
            border-radius: 2px;
            margin: 0 auto;
            background-color: #ccc;

        }

        &__close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            pointer-events: all;
        }

        &__rating {
            display: flex;
            align-items: center;
        }

        &__rating-number {
            font-size: 14px;
            font-weight: bold;
            margin-right: 5px;
        }

        &__rating-stars {
            margin-right: 5px;
        }

        &__rating-stars-icon {
            width: 50px;
        }

        &__reviews {
        }

        &__reviews-link {
            font-size: 14px;
            color: #000;
            text-decoration: underline;
        }
    
        &__close-icon {
            cursor: pointer;
        }

        // .sitestories-story-product-card__content-top

        &__content-top {}

        // .sitestories-story-product-card__tabs

        &__tabs {}

        // .sitestories-story-product-card__tab-links

        &__tab-links {
            list-style-type: none;
            display: flex;
            padding: 0;
        }

        // .sitestories-story-product-card__tab-link

        &__tab-link {
            margin-right: 10px;
            cursor: pointer;

            &_selected {
                font-weight: bold;
            }
        }

        // .sitestories-story-product-card__tab-content

        &__tab-content {}

        // .sitestories-story-product-card__tab-content-details

        &__tab-content-details {}

        // .sitestories-story-product-card__gallery

        &__gallery {
            margin-bottom: 10px;
            width: 100%;
            height: 55%;
            background-color: #fff;
            margin-top: 10px;
        }

        // .sitestories-story-product-card__slider

        &__slider {
            position: relative;
            width: 100%;
            height: 100%;
        }

        // .sitestories-story-product-card__slider-wrapper

        &__slider-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            transition-timing-function: initial;
            box-sizing: content-box;
        }

        // .sitestories-story-product-card__slide

        &__slide {
            flex-shrink: 0;
            width: 80%;
            height: 100%;
            position: relative;
            transition-property: transform;
            text-align: center;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateZ(0);
            backface-visibility: hidden;
            cursor: pointer;

            &_over-width {
                width: 100% !important;
            }

            &_over-width-end-slide {
                margin-left: -16.8%;

                //position: relative;
           
            }

            &_active {
                //cursor: auto;
                width: 80%;
            }

            // &_next {
            //     width: 20%;
            // }
       
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }

        &__options {
            margin-bottom: 10px;
            display: flex;
            align-items: baseline;
        }

        &__options-title {
            margin-right: 10px;
            font-weight: bold;
            font-size: 14px;
        }

        &__select {
            max-width: 100%;
            width: 100%;
            font-size: 14px;
        }

        // .sitestories-story-product-card__option

        &__option {}

        // .sitestories-story-product-card__tab-content-rewiews

        &__tab-content-rewiews {
            display: none;
        }

        // .sitestories-story-product-card__content-bottom

        &__content-bottom {}

        &__form {
            padding: 10px 15px;
            margin: 20px -15px -15px -15px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        // .sitestories-story-product-card__price

        &__price {
            display: flex;
            align-items: baseline;
            margin-bottom: 10px;
            width: 100%;
        }

        // .sitestories-story-product-card__price-old

        &__price-old {
            margin-right: 7px;
            font-weight: normal;
            font-size: 16px;
            text-decoration: line-through;
        }

        // .sitestories-story-product-card__price-current

        &__price-current {
            font-weight: bold;
            font-size: 18px;
        }

        // .sitestories-story-product-card__quantity-choice

        &__quantity-choice {
            width: 35%;
            margin: 0 10px 0 0;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 15px;
            color: #000;
            appearance: none;
            font-size: 14px;
            padding: 4px 10px;

            &:focus {
                border-color: #555;
                outline: none;
            }
        }

        &__button-addtocart-box {
            display: flex;
        }

        &__button-addtocart {
            background-color: #111;
            border: none;
            outline: none;
            color: #fff;
            padding: 15px 20px 15px 10px;
            border-radius: 15px;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            max-width: 150px;
            //margin: 0 auto;
            display: block;
            text-align: center;
            line-height: 0;
            white-space: nowrap;
            background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none"><path fill="%23fff" d="M1.917 1.917v8.166h8.166V6h1.167v4.083a1.17 1.17 0 0 1-1.167 1.167H1.917A1.166 1.166 0 0 1 .75 10.083V1.917C.75 1.275 1.27.75 1.917.75H6v1.167zm5.25 0V.75h4.083v4.083h-1.167V2.74L4.35 8.473l-.822-.822L9.26 1.917z"/></svg>');
            background-position: 89% 48%;
            background-repeat: no-repeat;
            background-size: auto;
        }

        &__product-brand {
            font-size: 14px;
            color: #333;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 5px;
        }

        &__product-title {
            font-size: 20px;
            color: #000;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 5px;
        }

        &__description-title {
            font-size: 16px;
            color: #000;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 5px;
        }

        &__description-text {
            color: #333;
            font-size: 14px;
            text-decoration: none;
            font-weight: normal;
            margin-bottom: 10px;
        }

        &__description-text {
            color: #333;
            font-size: 14px;
            text-decoration: none;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }

    /*
    * Product collection
    */ 
    .sitestories-product-collection {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 300;

        // .sitestories-product-collection__content

        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &__slider {
            position: relative;
        }

        &__slider-wrapper {
            position: relative;
            z-index: 1;
            display: flex;
            transition-property: transform;
            transition-timing-function: initial;
            box-sizing: content-box;
        }

        &__slide {
            flex-shrink: 0;
            transition-property: transform;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateZ(0);
            backface-visibility: hidden;
            cursor: pointer;
        }

        // .sitestories-product-collection__product-preview

        &__product-preview {
            background-color: #fff;
            width: 90%;
            margin: 0 auto 10px auto;
            padding: 5px;
            border-radius: 10px;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }

        // .sitestories-product-collection__product-preview-left-box

        &__product-preview-left-box {
            width: 30%;
            margin-right: 10px;
        }

        // .sitestories-product-collection__product-preview-img-box

        &__product-preview-img-box {
        }

        // .sitestories-product-collection__product-preview-img

        &__product-preview-img {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        // .sitestories-product-collection__product-preview-right-box

        &__product-preview-right-box {
            width: 70%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        // .sitestories-product-collection__product-preview-right-box-top

        &__product-preview-right-box-top {
            margin-bottom: 10px;
        }

        // .sitestories-product-collection__product-preview-title

        &__product-preview-title {
            font-weight: bold;
            font-size: 14px;
            text-decoration: none;
        }

        // .sitestories-product-collection__product-preview-right-box-bottom

        &__product-preview-right-box-bottom {
            display: flex;
            align-items: center;
            justify-content: right;
        }

        // .sitestories-product-collection__product-preview-price

        &__product-preview-price {
            margin-right: 10px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }

        // .sitestories-product-collection__product-preview-button

        &__product-preview-button {
            background-color: #000;
            color: #fff;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 40px;
            font-size: 14px;
            cursor: pointer;
            text-decoration: none;
        }
    }

    /*
    * Product list
    */ 
    .sitestories-product-list {
        position: relative;
        z-index: 10;
        background-color: #fff;
        top: 55%;
        padding: 10px;
        height: 100%;
        max-height: 47%;
        overflow-x: hidden;
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch;
        transform: translateZ(0) !important;

        &__product-previews-title-box {
            margin-bottom: 10px;
        }

        &__description-box {
            margin-bottom: 20px;
        }

        &__description {
            color: #333;
            text-decoration: none;
            font-size: 14px;
        }
    
        &__product-previews {
            margin-bottom: -20px;
        }

        &__product-previews-title {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
        }

		&__product-previews-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
		}

		&__product-preview {
            width: 45%;
            height: auto;
            margin-bottom: 20px;
            cursor: pointer;
            //margin-right: 10px;

            // &:nth-child(2n) {
            //     margin-right: 0;
            // }
		}

		// .sitestories-product-list__product-img-box

		&__product-img-box {
            margin-bottom: 5px;
		}

		// .sitestories-product-list__product-img

		&__product-img {
            width: 100%;
            height: auto;
            border-radius: 5px;
		}

		// .sitestories-product-list__product-text-box

		&__product-text-box {
            margin-bottom: 7px;
		}

		// .sitestories-product-list__product-title

		&__product-title {
            color: #333;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
		}

		// .sitestories-product-list__product-price-box

		&__product-price-box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
		}

		// .sitestories-product-list__product-price

		&__product-price {
            color: #333;
            text-decoration: none;
            font-size: 14px;

            &_old {
                text-decoration: line-through;
                color: #ccc;
                margin-right: 5px;
                font-size: 12px;
            }
		}
        
        &__product-button-box {
            display: flex;
            justify-content: center;
        }

		&__product-button {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            background-color: #111;
            padding: 5px 15px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &[data-device="mobile"] {
        .sitestories__modal {
            display: none;
            outline: 0 !important;
            overflow: hidden;
            position: fixed;
            background-color: black;
            z-index: 100000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;

            &_start-close {
                transform: translateY(0);
                opacity: 1;
                display: block;
            }

            &_close {
                display: block;
                transform: translateY(100%);
                opacity: 0;
                transition: transform .2s ease-in, opacity .2s ease-in;
            }

            &_start-open {
                display: block;
                transform: translateY(100%);
            }

            &_open {
                display: block;
                transform: translateY(0);
                //transition: transform 100ms ease-in;
            }
        }
    }

    &[data-device="desktop"] {
        .sitestories__modal {
            display: none;
            outline: 0 !important;
            overflow: hidden;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.75);
            z-index: 100000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;

            &_start-close {
                transform: translateY(0);
                opacity: 1;
                display: block;
            }

            &_close {
                display: block;
                transform: translateY(100%);
                opacity: 0;
                transition: transform 0.3s ease-in, opacity 250ms ease-in;
            }

            &_start-open {
                display: block;
            }

            &_open {
                display: block;
            }
        }

        .sitestories__modal-content {
            max-width: 100%;
        }
        .sitestories__modal-close_desktop {
            display: block;
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 200;
            display: block;
            cursor: pointer;
        }

        .sitestories-slider-groups__wrapper {
            width: 40vh;
            position: relative;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
        }

        .sitestories-group-stories {
            width: 100%;
            height: 70vh;
            max-height: 1440px;
            margin: 0 auto;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
        }

        .sitestories-story {
            //border-radius: 8px;

            &__media {
                //border-radius: 8px;
            }

            &_dark {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    z-index: 100;
                    right: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
                    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
                    background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
                    background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
                    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
                }
            }
        }

        .sitestories-story-overlay {
            visibility: visible;
        }
        
        .sitestories-slider-groups {
            height: auto;

            &__slide {
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                position: relative;
                transition-property: transform;
                display: block;
                transform: scale(0.6);
                transition: 0.4s ease-in-out transform;
                transform-origin: center;
                cursor: pointer;
                visibility: visible;
    
                &_active {
                    transform: scale(1);
                    cursor: auto;
                }
            }
        }

        .sitestories-slider-story {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .sitestories__modal-overlay {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: black;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            filter: blur(20px);
        }

        .sitestories-story-product {    
            &__top {
                height: 90%;
                width: 100%;
            }
        }

        .sitestories-story-product-card__close-icon {
            width: 20px;
            height: 20px;
        }
    }
}
